---
import '../styles/global.css';

// Component Imports
import ProjectsLayout from "../layouts/Projects.astro"
import ProjectEntryCard from "../components/ProjectEntryCard.astro"

import { getCollection } from "astro:content";
const projects = await getCollection('project');

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<ProjectsLayout slot="main" >
    <pre slot="welcome_msg" class="text-3xl font-semibold">
        <span class="text-blue-500">do</span> {'{'}
          <span class="text-[#4EC9B0]">Yorisoft</span>::<span class="text-[#DCDCAA]">things</span>();
        {'};'}
    </pre>
    {projects.reverse().map((project) => {
        const pubDate = project.data.date
          .toISOString()
          .split("T")[0]; 

          return (
            <ProjectEntryCard slot="project-posts" 
                title={project.data.title}
                pubDate={pubDate}
                description={project.data.description}
                url={`/project/${project.id.split('/')[0]}`}
                thumbnail={project.data.thumbnail}
                technologies={project.data.technologies}
            />
          )
    })}
</ProjectsLayout>
