---
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
  } from "@/components/ui/card";
import { Button } from "@/components/ui/button";
const { title, authors, pubDate, description, url, thumbnail } = Astro.props;
---

<div class="flex flex-row items-center h-50 gap-4">
    <img class="object-cover h-50 aspect-square"
         src={thumbnail}
         alt="Blog Image" />
    <Card className="flex flex-1 bg-card rounded-none border-0 border-b-4 border-slate-600 shadow-xl shadow-black/20">
        <CardHeader>
            <CardTitle>
                {title}
            </CardTitle>
            <CardDescription>
                {pubDate}
            </CardDescription>
            <CardDescription>
                {authors ?? ""}
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription>
                {description ?? ""}
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <a href={url} class="text-sm font-medium text-primary hover:underline">
                    Read More
                </a>
                <!-- <Button variant="link" as="a" href={url}>Read More</Button> -->
            </CardAction>
        </CardFooter>
    </Card>
</div>
