---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faUser, faBlog } from '@fortawesome/free-solid-svg-icons'
---
<ul class="">
    <li><FontAwesomeIcon icon={faUser} /> About Me</li>
    <li><FontAwesomeIcon icon={faBlog} /> Blog</li>
    <li><FontAwesomeIcon icon={faUser} /> About Me</li>
    <li><FontAwesomeIcon icon={faBlog} /> Blog</li>
    <li><FontAwesomeIcon icon={faUser} /> About Me</li>
    <li><FontAwesomeIcon icon={faBlog} /> Blog</li>
</ul>
