---
// import {
//   Card,
//   CardAction,
//   CardContent,
//   CardDescription,
//   CardFooter,
//   CardHeader,
//   CardTitle,
//   } from "@/components/ui/card";
import { Card, CardContent, CardHeader, CardDescription, CardTitle, CardFooter } from '@/components/ui/card'
import { Button } from "@/components/ui/button";
const { title, pubDate, description, url, projURL, thumbnail, technologies } = Astro.props;
---
<div class="flex items-center rounded-lg">
  <img
    src={thumbnail}
    alt="Blog Image"
    class="h-full w-50 object-cover rounded-none shrink-0 bg-destructive-foreground"
  />

  <Card className="h-full flex-1 bg-card rounded-none border-0 shadow-none bg-card border-0 border-b-4 border-slate-600 shadow-xl shadow-black/20 gap-0 p-0">
    <CardHeader className="space-y-1 pt-2">
      <CardTitle className="mb-0">{title}</CardTitle>
      <!-- <CardDescription>{pubDate}</CardDescription> -->
    </CardHeader>

    <CardContent className="flex flex-col border-0 shadow-none rounded-non">
      <p>{description}</p>
	  <img class="w-50 pt-4" src={`https://skillicons.dev/icons?i=${technologies.join(",")}`} />
    </CardContent>

    <CardFooter className="mt-auto gap-3 pt-4">
        <Button size="sm">
            <a href={projURL}>Explore The Project</a>
        </Button>

        <Button size="sm" variant="outline">
            <a href={url}>Read More</a>
        </Button>
    </CardFooter>
  </Card>
</div>

