---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { 
    faSquareGithub, 
    faSquareLinkedin, 
    faSquareYoutube, 
    faTwitch, 
    faSquareXTwitter, 
    faSquareGitlab 
} from '@fortawesome/free-brands-svg-icons'
// 1. Import the CSS explicitly so icons render immediately (Server Side)
import { config } from '@fortawesome/fontawesome-svg-core';
import '@fortawesome/fontawesome-svg-core/styles.css';
config.autoAddCss = false;
---
<div class="flex flex-row justify-center">
    <a href="https://github.com/yorisoft" target="_blank"><FontAwesomeIcon class="text-[#34d399]" icon={faSquareGithub}  /></a>
    <a href="https://invent.kde.org/yorisoft" target="_blank"><FontAwesomeIcon class="text-[#34d399]" icon={faSquareGitlab}  /></a>
    <a href="https://youtube.com/@Yoriisoft" target="_blank"><FontAwesomeIcon class="text-[#34d399]" icon={faSquareYoutube}  /></a>
    <a href="https://twitch.tv/yorisoft" target="_blank"><FontAwesomeIcon class="text-[#34d399]" icon={faTwitch}  /></a>
    <a href="https://www.linkedin.com/in/yelsin-sepulveda-lara" target="_blank"><FontAwesomeIcon class="text-[#34d399]" icon={faSquareLinkedin}  /></a>
    <a href="https://x.com/yoriisoft" target="_blank"><FontAwesomeIcon class="text-[#34d399]" icon={faSquareXTwitter}  /></a>
</div>
